mixin practicalTask2()
	+b.practicalTask2&attributes(attributes)
		block
		.container-fluid
			.row
				h1.page-header.text-center PracticalTask2
				h2.sub-header.text-center Sorting table
			.row
				.container
					a.col-md-5.btn-success.btn-lg.block-center.js-getJson Получить малый список и создать таблицу
					a.col-md-5.col-md-push-2.btn-success.btn-lg.block-center.js-getJson Получить большой список и создать таблицу

			.row
				.main
					.table-responsive
						table.table.table-striped.js-table
							thead
								tr
									th id
									th firstName
									th lastName
									th email
									th phone
									th streetAddress
									th city
									th state
									th zip
									th description
							tbody


