.pagination-wrapper
	min-height 40px

.js-targetPersonContainer
	font-size 2rem

.js-arrow-up
	position: relative

	span.js-renderSortWay
		&::after
			position: absolute
			top -5px
			content "▲"
.js-arrow-down
	position: relative

	span.js-renderSortWay
		&::after
			position: absolute
			top -5px
			content "▼"
